<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
		<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.1/dist/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
    <script src="{% static 'js/chartjs-chart-financial.min.js' %}"></script>
</head>
<body>
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
        <form action="{% url 'logout'%}">
      <button type="submit"  >Logout</button>
            </form>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>