{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="row">
	<div class="col-sm-8">
		<canvas id="chartOne"></canvas>
		<canvas id="chartTwo"></canvas>
		<canvas id="chartThree"></canvas>
	</div>
	<div class="col-sm-4">

		<form action="" id="form1">
			<div class="row">
			<div class="col-sm-4">
			<label>Trade Asset:</label>
			<select name="asset" id="asset">
			  <option value="LLOY.L"> Lloyds </option>
			  <option value="AAPL">Apple</option>
			  <option value="TSLA">Tesla</option>
			  <option value="GOOG">Google</option>
			  <option value="TATASTEEL.NS">TATA Steel</option>
			</select><br>
			<label>Time Period:</label> <input type="floating" name="timeperiod" id="timeperiod" value="14"> <br>
			<label>Acceleration:</label> <input type="floating" name="acceleration" id="acceleration" value="0.2"> <br>
			<label>Maximum:</label> <input type="floating" name="maximum" id="maximum" value="0.4"> <br>
			</div>
			<div class="col-sm-6"><input type="submit" class="btn btn-primary" value="Submit"/></div>
			</div>
		</form>
			<div class="row">
  				<div class="col-sm-8" style="background-color:pink;">Signal & It's Reason : <span id="signal"></span></div>
				<div class="col-sm-8" style="background-color:yellow;" id="logs">Logs:<br>Connecting to server.......</div>
			</div>
	</div>
</div>

<script src="{% static 'js/index.js' %}"></script>
<script>
	var socket = null;
	document.addEventListener("DOMContentLoaded", function() {
		var socket = createSocket({
		timeperiod: 14,
		maximum:1,
		acceleration: 0.2, asset: 'LLOY.L'});

		// On Submit
		document.getElementById("form1").addEventListener("submit", function(e) {
			e.preventDefault();
			let target = e.target;
			console.log(e);
			if(socket){
				addLog("Closing Socket");
				socket.close()
			}
			addLog("Creating Socket for " + target.asset.value);
			socket = createSocket({
				maximum: target.maximum.value,
				acceleration: target.acceleration.value,
				timeperiod: target.timeperiod.value,
				asset: target.asset.value
			});
		});

	});
</script>
{% endblock %}
